# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
.tox/
.nox/
venv/
.venv/
env/

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# OS
.DS_Store
Thumbs.db

# Home Assistant dev
.homeassistant/
config/
home-assistant_v2.db*
home-assistant.log
.storage/

# Local
*.local
.env
.envrc
